<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Noah F</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Noah F, noah f, noahf, NoahF">
        <meta name="description" content="A website to determine which day ('A' or 'B') a specified school day falls on at Roanoke County Public Schools (www.rcps.us).">
        <meta name="author" content="Noah F">

        <meta property="og:image" content="https://www.noahf.net/assets/banner/nf-banner-large.png">
        <meta property="og:image:alt" content="Noah F logo stylized as 'noah f' ('n' and 'f' are orange, remaining letters are white), under large title: 'I make things (sometimes)'">
        <meta property="og:site_name" content="www.noahf.net/school/day">
        <meta property="og:title" content="RCPS Day Calculator">
        <meta property="og:url" content="https://www.noahf.net/">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:description" content="A website to determine which day ('A' or 'B') a specified school day falls on at Roanoke County Public Schools (www.rcps.us).">
        
        <meta name="twitter:image:src" content="https://www.noahf.net/assets/banner/nf-banner-large.png">
        <meta name="twitter:card" content="https://www.noahf.net/assets/banner/nf-banner-large.png">

        <link rel="icon" type="favicon" href="../assets/icons/nf-logo-alternate-favicon.ico">

        <link rel="stylesheet" href="/stylesheets/schooldaycalc-style.css">

        <script type="module">import axios from 'https://cdn.jsdelivr.net/npm/axios@1/+esm'</script>
        <script type="module" src="/src/schooldaycalc-functionality.js"></script>
    </head>

    <body>

    </body>

</html>