.header {
    width: 460px;
    height: 195px;
    overflow: hidden;
    position: relative;
}

:root {
    --height: 390px;
}

.contact {
    color: white;
    text-align: center;
    font-family: 'Arial', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.5);

    width: 620px;
    height: var(--height);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-out;
}

.subheading {
    -webkit-text-stroke: 4px black;
    opacity: 96%;
    paint-order: stroke fill;
}

.social-media {
    height: 96px;
    width: 96px;
    margin: 0px 4.5px 0px 4.5px;
    transition: all 0.25s ease-out;
}

.social-media:hover {
    cursor: pointer;
}

.social-media-container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    :root {
        --height: 100%;
    }

    .header {
        display: block;
        top: 5%;
        margin-left: auto;
        margin-right: auto;
        scale: 0.8;
    }    

    .subheading {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .social-media-container {
        display: inline-block;
        vertical-align: top;
        padding: 0% 20% 0% 20%;
        position: fixed;
        left: 0%;
        top: 55%;
        vertical-align: top;
        transition: all 0.25s ease-out;
    }

    .contact {
        height: 100%;
        width: 100%;
    }
}